


  <section class="jumbotron text-center">
      <div class="container">
          <h1>Welcome to BookStore @ViewBag.Title</h1>
          <p class="lead text-muted">
              Voluptua magna vulputate vel labore et ipsum duis consequat at diam amet lobortis nihil dolores 
              gubergren in sea aliquam dolor dolore sed takimata et nulla sed velit cum laoreet clita est vero lorem amet est no eleifend est ea diam elitr rebum consequat et delenit nam dolor sed invidunt dolore sed diam voluptua accusam rebum 
              
          </p>
          <p>
              <a href="#" class="btn btn-primary my-2">Search Books</a>
          </p>
      </div>
  </section>

  <div class="p-5 bg-light">
      <div class="container">
          <h3 class="h3">Top Books</h3>
          <div class="row">
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      <div class="card-body">
                          <p class="card-text">This section will be used for short description of book</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                              </div>
                              <small class="text-muted">Author name</small>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      <div class="card-body">
                          <p class="card-text">This section will be used for short description of book</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                              </div>
                              <small class="text-muted">Author name</small>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                      <svg class="bd-placeholder-img card-img-top" width="100%" height="255" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                      <div class="card-body">
                          <p class="card-text">This section will be used for short description of book</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                  <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                              </div>
                              <small class="text-muted">Author name</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script>
      $(document).ready(function () {
          //alert("document is ready")
      })
  </script>